.navbar{
    min-height: 50px;
    background-color: white;
    text-align: center;
}

.main{
    background-image: url(../imagens/modalidades/pesca.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

a.anchorRegulamento{
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}

canvas{

    width: 720px !important;
    height: 455px !important;
    text-align: left;
    padding-left: 50px;
    padding-top: 125px;

}

.nome{
    background-color: white;
    width: 13.6%;
    margin-left: 20px;
    height: 50px;
}

#texto{
    text-align: center;
    font-size: 1.75em;
    font-weight: 1000;
    line-height: 1em;
    border-top: 1px solid #ddd;
    padding: 10px 0 0;
    color: #333;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#icon{
    padding-top: 130px;
    padding-left: 20px;
    width: 15%;
}

.transbox{
    text-align: justify;
    padding-top: 10px;
}

.pageApresentacao{
    min-height: 30vh;
}

.page{
    min-height: 98vh;
}

.pageRegulamento{
    min-height: 50vh;
}

.tabela{
    padding-left: 34%;
    margin: auto;
}

.tabela1{
    padding-top: 40px;
    padding-right: 160px;
    
}

table.resultadoTable > tr > th, table.resultadoTable > * > tr > th {
    background-color: white;
    text-align: center;
}

table.resultadoTable > tr > th, table.resultadoTable > tr > td, table.resultadoTable > * > tr > th {
    border-bottom: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    line-height: 2.95em;
    text-align: center;
    font-size:90%;
    height: 80px;
}

table.resultadoTable > * > tr > td{
    border-bottom: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    line-height: 1.95em;
    text-align: center;
    font-size:90%;
    height: 60px;
    background-color: white;
}

th{
    font-weight: bold;
    font-family: sans-serif;
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}

td {
    display: table-cell;
    vertical-align: inherit;
    height: 35px;
    text-align: center;
}

#ouro{
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid #dab509;
    text-align: center;
    color: #dab509;
}

#silver{
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid #a1a1a1;
    text-align: center;
    color: #a1a1a1;
}

#bronze{
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: 2px solid #ae7058;
    text-align: center;
    color: #ae7058;
}

.mainText{

    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2em;
    width: 20%;
    border-bottom: 2px solid #3B94D9;    
    text-align: center;
    margin: 0 auto;
    color: black;
}

ul{
    padding-top: 200px;
    padding-left: 80px;
}

table.calendarioTable > tr > th, table.calendarioTable > * > tr > th {
    background-color: gainsboro;
    text-align: center;
}

table.calendarioTable > tr > th, table.calendarioTable > tr > td, table.calendarioTable > * > tr > th {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    line-height: 2.95em;
    text-align: center;
    font-size:90%;
}

table.calendarioTable > * > tr > td{
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    line-height: 1.95em;
    text-align: center;
    font-size:90%;
    height: 30px;
    background-color: white;
}

.pageCalendario{
    min-height: 60vh;
}


.bar{
    padding-top: 20px;
    padding-bottom: 60px;
    width: 90%;
    border-bottom: solid 2px rgba(210, 215, 217, 0.75);
    text-align: center;
    margin: 0 auto;
}